@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Sora', sans-serif;
  color: black;
  border: none;
}

body {
  background-color: #F7EDE2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #84A59D;
  height: 130px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

#title {
  font-size: 40px;
  margin-left: 45px;
}

#sections {
  margin: auto;
}

.nav-item {
  margin: 10px;
}

button {
  font-size: 20px;
  background-color: transparent;
}

#login-options {
  display: flex;
  align-items: center;
  margin-right: 65px;
  height: inherit;
  width: 210px;
}

#sign-up {
  margin-left: 30px;
  background-color: black;
  color: #84A59D;
  padding: 12px 20px;
  border-radius: 12px;
}

#banner {
  margin-top: 130px;
  background: url(./assets/banner.png);
  width: 100vw;
  height: 710px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#cover {
  background-color: white;
  margin-top: 230px;
}

footer {
  /* see if footer is better fixed or not */
  /* position: fixed;
  bottom: 30px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}